<a href="https://colab.research.google.com/github/Ryosuke-sem/TakeHomeExam/blob/main/TakeHomeExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data and Social Media Analysis
## Unofficial midterm aka. take home exam for the pandas part of this course

Feel free to use any means available to you such as class notebooks, lecture vidoes, Google, StackOverFlow, online tutorials etc. The only thing I ask is that you do this yourself. This means not asking your programmer friend for help or posting a question from the exam on stackoverflow or similar.
Good luck!!!

1. Read in the ramen ratings file as a dataframe
2. set appropriate index and column names and print out an overview of the dataframe
3. Print a subset of the dataframe that only has the information of the brand of ramen and its score (hint: not groupby, or creation of new dataframe. How can we access specific rows or columns of data?)
5. Oh no, it seems the last column is full of null values. Convert these to NaN.
4. Display only the rows where the brand is Nissin and the rating is above 3.5 (some data type conversion might be necessary)

6. Group the ramen by brand and calculate the mean, max, and min values in a single output.

7. What is the mode rating for all ramen?
8. Groupby brand and variety. Can you figure out a way to display this information in descending order (highest to lowest)? Which has the highest average?
8. How many different brands of ramen are included in the dataset?

In [ ]:
#make it possible with GitHub to accese others, "private" to "public."
#1
import pandas as pd
df = pd.read_csv('ramen-ratings.csv', index_col=0)
#2
df.head()

In [ ]:
#3 brand and scores(stars) only
newdf = df[["Brand","Stars"]]
newdf.head()

In [ ]:
#4. already done it.(I think)

In [ ]:
#5 Nissin and above 3.5
df[(df.Brand == 'Nissin') & (df.Stars > str(3.5))]

In [ ]:
#6
import numpy as np
pd.to_numeric(df['Stars'], errors='coerce')
df.groupby('Brand').Stars.agg([min, max, np.mean])

In [ ]:
#7
df["Stars"].mode()

In [ ]:
#8
df.groupby('Brand').Stars.mean()

In [ ]:
df.groupby('Variety').Stars.mean()

In [ ]:
#9
len(set(df['Brand']))